@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee+Tint&display=swap');
:root {
   --dark-background: #030f18;
   --dark-primary:#001f3f;
   --dark-secondary:#43b7ff;
   --dark-tertiary:#1a1a1a;
   --dark-color:#fafbfc;

   --dark-headerBoxShadow: rgba(255,255,255,.75)
}

body {
   padding: 0;
   margin: 0;
   background-color: var(--dark-background);
   color: var(--dark-color);
}

/* ===================== */
/* Header */
/* ===================== */
/* General and spacing */
header,
header a {
   color: var(--dark-color);
}

header,
header > * {
   display: flex;
}

header {
   background-color: var(--dark-primary);
   /* border-radius: 10px; */
   padding: 1.25em;
   text-align: center;
   /* font-family: "Anton SC", sans-serif; */
   font-family: "Roboto", sans-serif;
   flex-direction: row;
   justify-content: space-around;
}
header div {
   align-self: center;
   width:20%;
}
header div:first-child {
   justify-content: start;
}
header nav {
   width: 60%;
}
header div:last-child {
   justify-content: end;
}


header nav ul li  {
   list-style: none;
}
header nav ul li a {
   text-decoration: none;
}
header nav,
header nav ul {
   display: flex;
   flex-direction: row;

}

/* Logo config */
header div:first-child {
   text-align: left;
   display: flex;
   flex-direction: column;
}
header div:first-child span {
   /* font-family: "Bungee Tint sans-serif"; */
   font-family: "Roboto", sans-serif;
   /* font-weight: 100; */
   font-size: 1.25em;
}


/* Nav config */
header nav ul {
   font-family: "Anton SC", sans-serif;
   /* font-family: "Bungee Tint sans-serif"; */
   justify-content: space-around;
   width: 100%;
   margin-left: 2.5em;
   padding-left: 2.5em;
}

header nav {
   /* background-color: var(--dark-primary); */
   justify-content: center;

}

/* ===================== */
/* Body */
/* ===================== */




/* ===================== */
/* Card */
/* ===================== */
.cards {
   display: flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   justify-content: space-around;
   margin-top: 1em;
}

.cards div {
   width: 30%;
   margin: 2rem;
}

.hover-card {
   position: relative;
   perspective:200rem;
}

.hover-card div {
   pointer-events:none;
   transform-style: preserve-3d;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   /* transition: 5s; */
   /* transition: all 1s ease; */
   transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
   will-change: transform;

  width: 100%;
   height: 100%;
}

/* Left page */
.hover-card > div:nth-child(1) {
   z-index: 3;
   transform: rotateY(360deg);
   position: absolute;
   background-color: red;
   transition: 2.5s;
   transform-origin: left;
}
.hover-card > div:nth-child(2) {
   z-index: 3;
   transform: rotateY(180deg) translateX(-100%);
   position: relative;
   background-color: red;
   transition: 2.5s;
   transform-origin:left
}
/* right page */
.hover-card > div:nth-child(3) {
   z-index: 0;
   top: 0;
   position: absolute;
   background-color: aquamarine;
}
.hover-card > div:nth-child(4) {
   z-index: 0;
   position: absolute;
   transform: rotateY(-180deg);
}


.hover-card.open > div:nth-child(1) {
   /* transform: rotateY(-180deg) translateX(-100%); */
   transform: rotateY(180deg);
}
.hover-card.open > div:nth-child(2) {
   transform: rotateY(0deg) translateX(-100%);
   /* transform: rotateY(360deg); */
}

/* .hover-card.open > div:nth-child(1) {
   transform: rotateY(0deg) translateX(-100%);
   background-color: red;
}
.hover-card.open > div:nth-child(2) {
   transform: rotateY(0deg) translateX(-100%);
   background-color: #43b7ff;
}
.hover-card.open > div:nth-child(3) {
   transform: rotateY(0deg) translateX(50%);
   background-color: aquamarine;
}
.hover-card.open > div:nth-child(4) {
   transform: rotateY(-180deg);
} */

.hover-card img {
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 5px;
}
/* ===================== */
/* Project icons */
/* ===================== */
.smitten {
   border: 2px solid rgb(202, 22, 94);
   border-radius: 5px;
   background-color: rgb(202, 22, 94);
   color: rgb(255, 254, 252);
   padding: 0 .2em;
   margin-right: 3px;
   font-size: 3.5rem;
}
/* ===================== */
/* Footer */
/* ===================== */
footer {
   background-color: var(--dark-tertiary);
   padding: 1.25em;
   text-align: center;
   font-family: "Roboto", sans-serif;
   /* font-family: "Roboto"; */
   /* font-family: "Anton SC", sans-serif; */
   /* font-family: "Bungee Tint", "sans-serif"; */
   color: var(--dark-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
}
footer div:first-child {
   /* width: 100%; */
   padding-right: 35%;
   padding-left: 35%;
   display: flex;
   justify-content:space-evenly;

}
footer div p {
   /* font-family: "Anton SC"; */
}
footer div a i {
   color:var(--dark-color);
   font-size: 2.5rem;
}