@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee+Tint&display=swap');
:root {
   /* --dark-background: #fff; */
   /* --dark-background: #030f18;
   --dark-primary:#001f3f;
   --dark-secondary:#43b7ff;
   --dark-tertiary:#1a1a1a;
   --dark-color-dark-background:#fafbfc; */
   --dark-background: rgb(3, 15, 24);
   /* --dark-primary: rgb(0, 31, 63);
   --dark-secondary: rgb(67, 183, 255);
   --dark-tertiary: rgb(26, 26, 26); */
   --dark-color-dark-background: rgb(250, 251, 252);
   --dark-color-light-background: rgb(14, 45, 77);

   /* --dark-headerBoxShadow: rgba(255,255,255,.75) */


   --dark-primary: #5c4b8a;
   /* --dark-primary: rgba(92, 75, 138, 1); */

   --dark-secondary: #8A5C4B;
   /* --dark-secondary: rgba(138, 92, 75, 1); */

   --dark-tertiary: #4B8A5C;
   /* --dark-tertiary: rgba(75, 138, 92, 1) */
}

body {
   padding: 0;
   margin: 0;
   background-color: var(--dark-background);
   color: var(--dark-color-dark-background);
}

/* ===================== */
/* Header */
/* ===================== */
/* General and spacing */
header,
header a {
   color: var(--dark-color-dark-background);
}

header,
header > * {
   display: flex;
}

header {
   background-color: var(--dark-primary);
   /* border-radius: 10px; */
   padding: 1.25em;
   text-align: center;
   /* font-family: "Anton SC", sans-serif; */
   font-family: "Roboto", sans-serif;
   flex-direction: row;
   justify-content: space-around;
}
header div {
   align-self: center;
   width:20%;
}
header div:first-child {
   justify-content: start;
}
header nav {
   width: 60%;
}
header div:last-child {
   justify-content: end;
}


header nav ul li  {
   list-style: none;
}
header nav ul li a {
   text-decoration: none;
}
header nav,
header nav ul {
   display: flex;
   flex-direction: row;

}

/* Logo config */
header div:first-child {
   text-align: left;
   display: flex;
   flex-direction: column;
}
header div:first-child span {
   /* font-family: "Bungee Tint sans-serif"; */
   font-family: "Roboto", sans-serif;
   /* font-weight: 100; */
   font-size: 1.25em;
}


/* Nav config */
header nav ul {
   font-family: "Anton SC", sans-serif;
   /* font-family: "Bungee Tint sans-serif"; */
   justify-content: space-around;
   width: 100%;
   margin-left: 2.5em;
   padding-left: 2.5em;
}

header nav {
   /* background-color: var(--dark-primary); */
   justify-content: center;

}

/* ===================== */
/* Body */
/* ===================== */




/* ===================== */
/* Card */
/* ===================== */
.cards {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   /* margin-top: 1em; */
   margin: 3rem;
}

/* ===================== */
/* Animation and color */
/* ===================== */
.hover-card {
   position: relative;
   perspective:200rem;
   width: 20%;
   margin: 2rem;
   color: var(--dark-color-light-background);
}

.hover-card > div {
   pointer-events:none;
   transform-style: preserve-3d;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   will-change: transform;
   width: 100%;
   height: 100%;
   border-radius: 3px;
   box-shadow:
      inset  1px  0px 3px 0px rgba(255, 255, 255, 0.4),
      inset  0px  1px 3px 0px rgba(255, 255, 255, 0.4),
      inset -1px -0px 3px 0px rgba(255, 255, 255, 0.4),
      inset -0px -1px 3px 0px rgba(255, 255, 255, 0.4);
   background:
      linear-gradient(to bottom, var(--dark-primary), var(--dark-primary)),
      /* radial-gradient(circle, rgba(92, 75, 138, .8), rgba(92, 75, 138, .6)), */
      radial-gradient(circle, rgba(255, 255, 255, .4), rgba(255, 255, 255, .2)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2))
      ;
      background-blend-mode: overlay;
      background-size: cover;
}

.hover-card > div:nth-child(1),
.hover-card > div:nth-child(2) {
   z-index: 3;
   transition: transform 1.25s cubic-bezier(0.25, 0.1, 0.25, 1);
   transform-origin: left;
}
/* Left page */
.hover-card > div:nth-child(1) {
   transform: rotateY(360deg);

   position: absolute;
}
.hover-card > div:nth-child(2) {
   transform: rotateY(180deg) translateX(-100%);
   background-color: rgba(250, 251, 252, .75);
   position: relative;
}

/* right page */
.hover-card > div:nth-child(3) {
   z-index: 0;
   top: 0;
   position: absolute;
   background-color: rgba(250, 251, 252, .75);
   color: var(--dark-color-light-background);
}
.hover-card > div:nth-child(3)::before {
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   /* transition: transform 1.55s cubic-bezier(0.25, 0.1, 0.25, 1); */
   transition: 1.25s;
   background: rgba(0, 0, 0, 0.15);
   filter: blur(8px)

}
.hover-card.open > div:nth-child(1) {
   transform: rotateY(180deg);
}
.hover-card.open > div:nth-child(2) {
   transform: rotateY(0deg) translateX(-100%);
}
.hover-card.open > div:nth-child(3)::before {
   transform: translateX(-100%);
}


/* ===================== */
/* structure */
/* ===================== */

/* ============first card */
.hover-card > div:nth-child(1) {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   color: var(--dark-color-light-background);
   font-weight: bold;
}
/* top section */
.hover-card > div:nth-child(1) > div:first-child {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 50%;
}
/* bottom section */
.hover-card > div:nth-child(1) > div:last-child {
   width: 100%;
   height: 50%;
   background:
      linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
/* Arrow */
.hover-card > div:nth-child(1) > div > div:first-child::after {
   content: '';
   position: absolute;
   left: calc(50% - 10px);
   top: 50%;
   border-left: 10px solid transparent;
   border-right:10px solid transparent;
   border-top:  20px solid rgba(92, 75, 138, .75);
}

/* second card */
.hover-card > div:nth-child(3) p {
   padding: 1.2em;
}

/* header */

.hover-card img {
   width: 100%;
   height: 250px;
   object-fit:scale-down;
   border-radius: 5px;
}
/* ===================== */
/* Project icons */
/* ===================== */
.smitten {
   border: 2px solid rgb(202, 22, 94);
   border-radius: 5px;
   background-color: rgb(202, 22, 94);
   color: rgb(255, 254, 252);
   padding: 0 .2em;
   /* margin-right: 3px; */
   font-size: 3.5rem;
}
/* ===================== */
/* Footer */
/* ===================== */
footer {
   background-color: var(--dark-primary);
   padding: 1.25em;
   text-align: center;
   font-family: "Roboto", sans-serif;
   /* font-family: "Roboto"; */
   /* font-family: "Anton SC", sans-serif; */
   /* font-family: "Bungee Tint", "sans-serif"; */
   color: var(--dark-color-dark-background);
   display: flex;
   flex-direction: column;
   justify-content: center;
}
footer div:first-child {
   /* width: 100%; */
   padding-right: 35%;
   padding-left: 35%;
   display: flex;
   justify-content:space-evenly;

}
footer div p {
   /* font-family: "Anton SC"; */
}
footer div a i {
   color:var(--dark-color-dark-background);
   font-size: 2.5rem;
}